[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
pytest = "*"
"flake8" = "*"
"pep8" = "*"
mock = "*"
moto = "*"
responses = "*"
sh = "*"
pytest-cov = "*"
freezegun = "*"

[packages]
tornado = "*"
"boto3" = "*"
botocore = "*"
aiokafka = "*"
logstash_formatter = "*"
prometheus-client = ">=0.5.0"
kafkahelpers = "*"
prometheus-async = "*"
requests = "*"
attrs = "*"
apidoc = "*"
watchtower = "*"
apispec = "*"
apispec-webframeworks = "*"

[requires]
python_version = "3.6"
