[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
pytest = "*"
"flake8" = "*"
"pep8" = "*"
mock = "*"
moto = "*"
responses = "*"
sh = "*"
pytest-cov = "*"

[packages]
tornado = "*"
aiokafka = "*"
logstash_formatter = "*"
prometheus-client = ">=0.5.0"
kafkahelpers = "*"
prometheus-async = "*"
aiobotocore = "*"

[requires]
python_version = "3.6"
