version: "3"
services:
  zookeeper:
    image: confluentinc/cp-zookeeper
    environment:
      - ZOOKEEPER_CLIENT_PORT=32181
      - ZOOKEEPER_SERVER_ID=1
  kafka:
    image: confluentinc/cp-kafka
    ports:
      - 29092:29092
    depends_on:
      - zookeeper
    environment:
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:29092
      - KAFKA_BROKER_ID=1
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:32181
  consumer:
    build: ./consumer
    image: consumer:latest
    depends_on:
      - kafka
  upload-service:
    build: ../.
    image: upload-service:latest
    ports:
      - 8080:8888
    environment:
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      #  set storage driver if not s3
      # - STORAGE_DRIVER=localdisk
      #  set env variables if not using the default
      # - S3_PERM
      # - S3_REJECT
      # - S3_QUARANTINE
    depends_on:
      - kafka
